# VSCode configuration files
.vscode

# Local .terraform directories
**/.terraform/*

# AWS credentials file
.aws
*/.aws

# Backend configuration file
backend.tf

# .tfstate and lock files
*.tfstate
*.tfstate.*
*.terraform.lock.hcl

# Exclude all .tfvars files
*.tfvars
*.tfvars.json
!example.tfvars

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc